* {
    padding: 0%;
    margin: 0%;
    font-family: Roboto;
}

html, body {
    width: 100%;
}

.navbar {
    background-color: #5b5b5b;
}

.navbar-brand {
    color: #faf7ff;
    font-size: 20px;
}

.navbar-toggler {
    background-color: #faf7ff;
}

.offcanvas-body, .offcanvas-header {
    background-color: #faf7ff;
    color: #5b5b5b;
}

main {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
}


#main-ad {
    background-image: url(../assets/img/eros-perfume-img.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    color: #faf7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-ad h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

#main-ad p {
    font-size: 20px;
    text-align: center;
}

#main-ad button {
    border: 0;
    height: 40px;
    width: 90px;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    display: inline-block;
    font-weight: 900;
    background-color: #8685ef;
    color: #faf7ff;
}

/* ofertas */

#ofertas {
    height: 60vh;
    background-color: #faf7ff;
    color: #5b5b5b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

#ofertas p {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

#contenedor-ofertas {
    width: 70vw;
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.contenedor-img {
    height: 200px;
    width: 190px;
}

.contenedor-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* footer */

footer {
    background-color: #5b5b5b;
    color: #faf7ff;
    height: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}



@media only screen and (max-width: 1227px) and (min-width: 767px) {
    #contenedor-ofertas {
        width: 80vw;
    }
}

@media only screen and (max-width: 980px) and (min-width: 497px) {
    #ofertas {
        height: 700px;
    }
    #contenedor-ofertas {
        width: 55vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        justify-content: center;
        margin: 0 auto;
        row-gap: 30px;
    }
    .contenedor-img {
        height: 250px;
        width: 240px;
    }
    footer p {
        font-size: 13px;
        text-align: center;
    }
}

@media only screen and (max-width: 496px) and (min-width: 425px) {
    #main-ad {
        height: 60vh;
        width: 100vw;
    }
    #main-ad p {
        width: 70vw;
    }
    #ofertas {
        height: 600px;
    }

    #contenedor-ofertas {
        width: 55vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        justify-content: center;
        margin: 0 auto;
        row-gap: 30px;
    }
    .contenedor-img {
        height: 200px;
        width: 190px;
    }
    footer p {
        font-size: 12px;
        text-align: center;
    }

}

@media only screen and (max-width: 424px) and (min-width: 320px) {
    #ofertas {
        height: 500px;
        padding: 0;
    }
    #contenedor-ofertas {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .contenedor-img {
        height: 150px;
        width: 140px;
    }
    footer {
        height: 15vh;
    }
    footer p {
        font-size: 11px;
        text-align: center;
    }
}


/* estilos de la pagina productos */

#main-productos {
    width: 100%;
    background: #faf7ff;
    padding-top: 56px;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
}

#titulo {
    width: 100%;
    padding-top: 20px;
}

#main-productos h1 {
    font-size: 25px;
    font-weight: bold;
    color: #5b5b5b;
}

#filtros {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#filtros button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #8685ef;
    color: #faf7ff;
}

/* recuadros de productos */

#productos {
    width: 100%;
    height: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.contenedor-producto {
    background-color: #5b5b5b;
    color: #faf7ff;
    text-align: center;
    height: 370px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px
}

.contenedor-producto img {
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.nombre-producto {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}

.info-producto {
    font-size: 17px;
    text-align: left;

}

.boton-compra {
    height: 32px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #8685ef;
    color: #faf7ff;
    font-weight: bold;
    font-size: 15px;
}

@media only screen and (max-width: 1264px) and (min-width: 1024px) {
    .contenedor-producto {
        height: 350px;
        width: 200px;
    }
    .contenedor-producto img {
        height: 220px;
    }
    #filtros {
        width: 70%;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    #main-productos {
        height: 1800px;
    }
    #productos {
        height: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #titulo {
        text-align: center;
    }
    #filtros {
        width: 100%;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 768px) and (min-width: 425px) {
    #main-productos {
        height: 1800px;
        padding-left: 3%;
        padding-right: 3%;
    }
    #productos {
        height: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .contenedor-producto {
        height: 330px;
        width: 180px;
    }
    .contenedor-producto img {
        height: 200px;
    }
    #titulo {
        text-align: center;
    }
    #filtros {
        width: 100%;
        justify-content: space-evenly;
    }
    #filtros button {
        width: 70px;
    }
}
@media only screen and (max-width: 424px) and (min-width: 320px) {
    #main-productos {
        height: 3200px;
        padding-left: 3%;
        padding-right: 3%;
    }
    #productos {
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-producto {
        height: 350px;
        width: 200px;
    }
    .contenedor-producto img {
        height: 220px;
    }
    #titulo {
        text-align: center;
    }
    #filtros {
        width: 100%;
        justify-content: space-evenly;
    }
    #filtros button {
        width: 55px;
        height: 30px;
        font-size: 14px;
    }
    footer p {
        font-size: 13px;
        text-align: center;
    }
}

/* estilos para pagina nosotros */

#nosotros {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #faf7ff;
    color: #5b5b5b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#nosotros h1 {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

#nosotros p {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin-bottom: 30px;
}

#contenedor-asesoras {
    background-color: #8685ef;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asesora {
    padding-left: 10px;
    padding-right: 10px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 60px ;
    background-color: #faf7ff;
}

.asesora img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.asesora p {
    font-weight: bold;
}



@media only screen and (max-width: 1024px) {

    #contenedor-asesoras {
        justify-content: space-evenly;
    }
    .asesora {
        margin: 0;
    }
    #nosotros p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 679px) and (min-width: 530px) {
    .asesora {
        height: 230px;
    }
    .asesora img {
        height: 150px;
        width: 150px;
    }
}
@media only screen and (max-width: 529px) {
    #nosotros {
        justify-content: space-between;
        height: 1250px;
        padding-bottom: 0px;
    }
    #contenedor-asesoras {
        height: 1000px;
        flex-direction: column;

    }
}
/* estilos para pagina ubicacion */

#ubicacion {
    background-color: #faf7ff;
    padding-top: 150px;
    padding-bottom: 100px;
}


#contenedor-direcciones {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

#contenedor-direcciones h1 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #5b5b5b;
}

.sucursal {
    background-color: #8685ef;
    color: #faf7ff;
    width: 470px;
    height: 120px;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0 auto 20px auto;
    font-size: 14px;
    text-align: left;
}

.nombre-local {
    font-size: 20px;
    font-weight: bold;
}

.sucursal p {
    font-size: 19px;
    margin-top: 7px;
}

/* estilos para pagina contacto */

#contacto {
    background-image: url(../assets/img/imagen-contacto.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 300px;
    padding-bottom: 244px;
}

#contenedor-contacto {
    background-color: rgba(250, 247, 255, 0.9);
    color: #5b5b5b;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

#contenedor-contacto h1 {
    font-weight: bold;
}

#contenedor-contacto p {
    font-size: 20px;
}

#contenedor-medios {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#contenedor-medios button {
    background-color: #8685ef;
    color: #faf7ff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    width: 150px;
    height: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 578px) and (min-width: 425px) {
    #contenedor-medios {
        width: 100%;
    }
    #contenedor-medios button {
        width: 100px;
    }
}

@media only screen and (max-width: 425px) {
    #contenedor-contacto {
        padding-left: 5px;
        padding-right: 5px;

    }
    #contenedor-medios {
        width: 100%;
        justify-content: center;
    }
    #contenedor-contacto p {
        font-size: 16px;
    }
    footer p {
        font-size: 13px;
        text-align: center;
    }
}